SPRING_PROFILES_ACTIVE=dev

# JWT
JWT_ACCESS_SECRET=replace-with-random-access-secret-at-least-32-bytes
JWT_REFRESH_SECRET=replace-with-different-random-refresh-secret-at-least-32-bytes
# 30 min
JWT_ACCESS_EXPIRATION_MS=1800000
# 7 days
JWT_REFRESH_EXPIRATION_MS=604800000
# 30 days
JWT_MAX_REFRESH_EXPIRATION_MS=2592000000
JWT_ISSUER=modoo-playlist

# Refresh cookie
AUTH_COOKIE_SAME_SITE=Lax
AUTH_COOKIE_PATH=/api/auth

# Redis 일단 로컬이니까 신경 x
REDIS_HOST=localhost
REDIS_PORT=6379

# MySQL
MYSQL_ROOT_PASSWORD=
DB_USERNAME=
DB_PASSWORD=
DB_URL=

# External services
GEMINI_API_KEY=
THESPORTSDB_API_KEY=
TMDB_ACCESS_TOKEN=